body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	background-color: #323232;
	font-family: "Open Sans", sans-serif;
	color: white;
}

h1 {
	font-size: 64px;
}

#container {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}

table {
	border-collapse: collapse;
}

td {
	width: 70px;
	height: 70px;
	border: 5px solid white;
	text-align: center;
	vertical-align: middle;
	position: relative;
	cursor: pointer;
}

td:hover {
	background-color: rgba(255 255 255/30%);
}

.circle {
	color: blue;
}

.cross {
	color: red;
}

table {
	border-collapse: collapse;
	border-style: hidden;
	position: relative;
}

table td,
table th {
	border: 5px solid white;
}

@keyframes fillCircle {
	from {
		stroke-dasharray: 0 157;
	}
	to {
		stroke-dasharray: 157 157;
	}
}

#circle circle {
	fill: none;
	stroke: #00b0ef;
	stroke-width: 7;
	stroke-dasharray: 0 157;
	animation: fillCircle 1s forwards;
}

@keyframes fillCross {
	from {
		stroke-dasharray: 0 140;
	}
	to {
		stroke-dasharray: 140 140;
	}
}

#cross line {
	stroke: #ffc000;
	stroke-width: 10;
	stroke-dasharray: 0 140;
	animation: fillCross 2.5s forwards;
}

.winning-line {
	position: absolute;
	height: 5px;
	background-color: white;
	transform-origin: left center;
	pointer-events: none;
	left: 0;
}
